:root{
    /* Primary */
    --Softorange: hsl(35, 77%, 62%);
    --Softred: hsl(5, 85%, 63%);
    /* Neutral */
    --Off-white: hsl(36, 100%, 99%);
    --Grayishblue: hsl(233, 8%, 79%);
    --Darkgrayishblue: hsl(236, 13%, 42%);
    --Verydarkblue: hsl(240, 100%, 5%);
    }

*{
    font-family: Inter;
}
body{
    padding: 0;
    margin: 0;
}
.container{
    border: 2px solid red;
    margin: 50px 200px;
}

/* header */
header{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
ul{
    display: grid;
    grid-template-columns:repeat(5,130px);
    list-style-type: none;
    justify-items: end;
    justify-content: end;
    color: var(--Darkgrayishblue);
}
/* main */
main{
    display: grid;
    grid-template-columns: 5fr 2fr;
    height: 500px;
    gap: 30px;
}
.main-left-side {
    width: 100%;
    border: 3px solid pink;
}
.main-left-side img{
    width: 100%;
    height: 80%;
}
.main-left-side-mini-2-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main-left-side-mini-2-grid div{
    width: 100%;
    height: 100%;
    border: 3px solid red;
}
.main-right-side{
    width: 100%;
    border: 3px solid red;

}